<section class="about-us-hero" id="about">
  <div class="about-us-image">
    <img src="./img/aboutus/peoplemy.webp"
    width="545"
    height="300"
    alt="Зображення людей">
  </div>
  <div class="about-us-content">

    <p class="about-us-description">
      Ми команда Енергодарського хабу.<br>Допомагаємо людям, які змушені були покинути свої домівки та виїхати з тимчасово окупованого міста.<br> Тут ви можете отримати консультації з юридичних, освітніх та соціальних питань, а також адміністративні послуги.
    </p>
  </div>


</section>

