<section class="about-us-hero" id="about">
  <div class="header-container">
    <div class="header-title">
      <h1>ЕНЕРГОДАРСЬКИЙ ХАБ </h1>
    </div>
    <div class="burger-menu-container">
      <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <nav class="about-us-nav">
    <ul class="about-us-nav-list">
      <li><a href="#about">Про нас</a></li>
      <li><a href="#reports">Звіти</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#contacts">Контакти</a></li>
    </ul>
  </nav>

  <div class="about-us-content">
    <h2 class="about-us-title"></h2>
    <p class="about-us-description">
      Ми команда Енергодарського хабу, допомагаємо вимушено переміщеним людям із
      тимчасово окупованого міста. Тут вони можуть отримати консультації з
      юридичних, освітніх та соціальних питань, а також адміністративних послуг.
    </p>
  </div>

  <div class="about-us-image">
    <img src="./img/aboutus/peoplemy.png" alt="Зображення людей" />
  </div>
</section>