<section class="about-us-hero">
  <div class="about-us-header">
    <div class="about-us-logo-container">
      <svg
        class="about-us-logo-svg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
      >
        <circle
          cx="50"
          cy="50"
          r="40"
          stroke="#0A24ED"
          stroke-width="5"
          fill="transparent"
        />
        <text
          x="50%"
          y="50%"
          text-anchor="middle"
          dy=".3em"
          font-size="14"
          font-weight="bold"
        >
          Енергодар
        </text>
      </svg>
    </div>
    <nav class="about-us-nav">
      <ul class="about-us-nav-list">
        <li><a href="#about">Про нас</a></li>
        <li><a href="#reports">Звіти</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#contacts">Контакти</a></li>
      </ul>
    </nav>
  </div>

  <div class="about-us-content">
    <h1 class="about-us-title">Підтримка переселенців із Енергодара</h1>
    <p class="about-us-description">
      Ми команда Енергодарського хабу, допомагаємо вимушено переміщеним людям із
      тимчасово окупованого міста. Тут вони можуть отримати консультації з
      юридичних, освітніх та соціальних питань, а також адміністративних послуг.
    </p>
  </div>

  <div class="about-us-image">
    <img src="./img/aboutus/peoplemy.png" alt="Зображення людей" />
  </div>
</section>
