<section class="child-aid" id="childrenhelp">
  <div class="container child-aid__container">
      <h2 class="child-aid__title section__title">Допомога дітям</h2>
  </div>
  <div class="child-aid__items">
      <article class="child-item">
          <img
              class="child-item__image"
              src="../img/childrenhelp/girl.jpg"
              alt="Дитячі набори для дітей до трьох років"
          />
          <h3 class="child-item__title">Дитячі набори для дітей до трьох років</h3>
          <div class="child-item__content">
              <ul class="child-item__benefits">
                  <li>Суміш</li>
                  <li>Памперси</li>
                  <li>Одяг</li>
                  <li>Інші необхідні речі</li>
              </ul>
          </div>
      </article>
  </div>
</section>