<section class="child-aid" id="childrenhelp">
  <div class="container child-aid-container">
    <h2 class="child-aid-title section-title">Допомога дітям</h2>
  </div>
  <div class="child-aid-items">

    <article class="child-item">
      <div class="child-item-image-container">
        <img
          class="child-item-image"
          src="./img/childrenhelp/girl.webp"
          width="400"
            height="600"
          alt="Дитячі набори для дітей до трьох років"
        />
        <div class="child-item-content">
          <ul class="child-text">
            <li>Дитячі набори для дітей до трьох років</li>
            <li>Суміш</li>
            <li>Памперси</li>
            <li>Одяг</li>
            <li>Інші необхідні речі</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>