<section class="faq-section section" id="faq">
  <div class="container">
    <h2 class="title-faq">FAQ</h2>
    <ul class="accordion-container vertical-line">
      <li class="ac item-one">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Що ми робимо?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ми команда Енергодарського хабу, що допомагає тим, хто тимчасово
            втратив дім.
          </p>
        </div>
      </li>

      <li class="ac item-two">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Як ще ми можемо підтримати вас у цей складний час?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ми відкриті до ваших потреб і пропозицій. Якщо є щось, що ми можемо
            зробити для вас або вашої родини, будь ласка, дайте нам знати. Ваша
            думка важлива для нас.
          </p>
        </div>
      </li>

      <li class="ac item-three">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Які можливості ми можемо запропонувати для вашого зростання та
            розвитку?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ми прагнемо створювати можливості для навчання, підтримки та
            розвитку для всіх членів нашої спільноти. Поділіться з нами вашими
            цілями та амбіціями, і ми знайдемо спосіб допомогти вам їх досягти.
          </p>
        </div>
      </li>

      <li class="ac item-four">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Як ми можемо зробити ваше життя трохи легшим?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ми розуміємо, що життя може бути важким, особливо в ці непрості
            часи. Дайте нам знати, чим ми можемо допомогти, щоб полегшити ваші
            турботи, будь то інформаційна підтримка, поради або конкретна
            допомога.
          </p>
        </div>
      </li>

      <li class="ac item-five">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Як ми можемо допомогти тим, <br class="responsive-break" />
            хто вам дорогий?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Якщо у вашому житті є люди, яким потрібна підтримка, ми готові
            допомогти. Розкажіть нам про їхні потреби, і ми разом знайдемо
            рішення, щоб надати їм необхідну допомогу.
          </p>
        </div>
      </li>

      <li class="ac item-six">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Як Ви можете підтримати переселенців?

            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ми завжди відкриті до співпраці з партнерами та спонсорами, які
            хочуть допомогти переселенцям. Ваша підтримка може змінити життя
            багатьох людей, які змушені були залишити свої домівки. Зв'яжіться з
            нами, і ми обговоримо, як найкраще направити вашу допомогу тим, хто
            цього потребує найбільше.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
