<section class="support-footer" id="footer">
  <div class="container footer">
    <article class="content-footer">
      <h2 class="section-title-footer">
        Ми просто хотіли жити дома, <br />
        а війна змусила зробити вибір між <span class="pulse-text">жити</span> та <span class="pulse-text">домом</span>
      </h2>
      <div class="category-photos-footer">
        <img class="photo-wide-footer" src="./img/footer/house.webp" alt="Дім" width="400"
        height="600" />
      </div>
    </article>
  </div>
</section>