<header class="page-header container">
  <!-- Логотип -->
  <div class="logo">
    <img src="./img/aboutus/En-removebg.webp" alt="En-my" width="90" height="70" />
  </div>

  <!-- Контейнер заголовка і меню -->
  <div class="menu-container">
    <div class="header-title">
      <h1>ЕНЕРГОДАРСЬКИЙ ХАБ</h1>
    </div>
  </div>

  <!-- Бургер-меню -->
  <div class="burger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Навігаційне меню -->
  <nav class="about-us-nav">
    <ul class="about-us-nav-list">
      <li><a href="#about">Про нас</a></li>
      <li><a href="#reports">Звіти</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#contacts">Контакти</a></li>
    </ul>
  </nav>
</header>
