<section class="military" id="military-family-aid">
  <div class="container military-family-aid">
    <article class="military-family-aid">
      <h2 class="military-family-aid-title">Допомога військовим</h2>
      <div class="military-family-aid-photos">
        <img
          class="military-photo-wide"
          src="./img/military/warrior1.webp"
          alt="Допомога військовим та їх родинам"
          width="400"
          height="600"
        />
        <div class="military-family-aid-content">
          <ul class="military-family-aid-benefits">
            <li>Допомога військовим</li>
            <li>Допомога дітям військових</li>
            <li>Допомога сім'ям військових</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>