<div class="military" id="military-family-aid">
  <div class="container military-family-aid">
    <article class="military-family-aid">
      <h2 class="military-family-aid__title">Допомога військовим <br> та їх родинам</h2>
      <div class="military-family-aid__photos">
        <img
          class="military-photo-wide"
          src="./img/military/warrior1.jpg"
          alt="Допомога військовим та їх родинам"
        />
        <div class="military-family-aid__content">
          <ul class="military-family-aid__benefits">
            <li>Допомога військовим</li>
            <li>Допомога дітям військових</li>
            <li>Допомога сім'ям військових</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</div>