<section class="support-seniors" id="pensioners">
  <div class="container pensioners-aid">
  <h2 class="support-seniors__title section__title">
      Допомога людям <br />
      поважного віку
  </h2>
  <div class="support-seniors__content">
      <ul class="support-seniors__benefits">
          <li>Медична допомога</li>
          <li>Надання продуктових наборів</li>
          <li>Соціальна допомога</li>
      </ul>
      <div class="seniors__content">
          <div class="support-category__photos">
              <img
                  class="support-photo-wide"
                  src="./img/categories/pensioners2.webp"
                  alt="Medical support"
              />
              <img
                  class="support-photo-wide"
                  src="./img/categories/hands2.webp"
                  alt="Psychotherapy"
              />
          </div>
      </div>
  </div>
</section>