<section class="support-categories" id="training-legal-aid">
  <div class="container training-legal-aid">
    <article class="training-content">
      <h2 class="support-categories__title section__title">
        Допомога<br />
        молодим людям
      </h2>
      <div class="support-category__photos">
        <img
          class="support-photo-wide"
          src="./img/training/education3.jpg"
          alt="Навчання та юридична допомога"
        />
        <div class="support-training__content">
          <ul class="support-training__benefits">
            <li>Навчання</li>
            <li>Юридична допомога</li>
            <li>Соціальна допомога</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>