/* Основні стилі для заголовка сторінки */
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f4f8; /* Світлий нейтральний фон */
  color: #261e4f9b; /* Темний колір тексту */
  font-size: 14px; /* Трохи збільшений розмір шрифту */
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 5px solid #4eb5ffb0; /* Легка тінь для розділення */
}

/* Стилі для логотипу */
.logo img {
  display: block;
  width: 90px;
  height: auto; /* Автоматична висота для збереження пропорцій */
}

/* Стилі для заголовка */
.header-title h1 {
  font-size: 2rem; /* Збільшений розмір шрифту для більшого акценту */
  font-weight: 700;
  color: #4a4a4a; /* Темний сірий колір тексту */
}

/* Стилі для бургер-меню */
.burger {
  display: none; /* Приховуємо бургер-меню за замовчуванням */
  position: relative;
  width: 30px; /* Ширина бургер-меню */
  height: 24px; /* Загальна висота бургер-меню */
  cursor: pointer;
  z-index: 1000; /* Забезпечує видимість поверх інших елементів */
  flex-direction: column; /* Вирівнюємо смужки одна під одною */
  justify-content: space-between; /* Відстань між смужками */
}

.burger span {
  display: block; /* Кожна смужка в блочному режимі */
  width: 100%; /* Смужки мають займати всю ширину контейнера */
  height: 3px; /* Висота кожної смужки */
  background-color: #3498db; /* Колір смужок */
  margin: 0; /* Видаляємо зайві відступи */
  transition: all 0.3s ease; /* Анімація при переходах */
}

/* Стилі для активного стану бургер-меню */
.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #3498db; /* Яскравий блакитний колір для перетворень */
  transform: rotate(-45deg) translate(-50%, -50%);
}

.burger.active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #3498db; /* Яскравий блакитний колір для перетворень */
  transform: rotate(45deg) translate(-50%, 50%);
}

/* Стилі для навігації */

.about-us-nav {
  display: block;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 250px; /* Ширина навігації */
  height: 100%;
  background: #2c3e50; /* Темний фон */
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 20;
}

/* Список навігаційних пунктів */
.about-us-nav ul {
  list-style: none; /* Прибирає маркери списку */
  padding: 0;
  margin: 0;
}

/* Стилі для кожного пункту навігації */
.about-us-nav li {
  margin-bottom: 20px; /* Відстань між пунктами меню */
}

/* Стилі для посилань навігації */
.about-us-nav a {
  text-decoration: none; /* Прибирає підкреслення з посилань */
  color: #ecf0f1; /* Світлий колір тексту */
  padding: 15px 20px; /* Відступи всередині пунктів меню */
  display: block; /* Перетворює посилання в блочний елемент */
  background-color: #34495e; /* Темно-сірий фон пунктів меню */
  border-radius: 8px; /* Закруглені кути */
  transition: background-color 0.3s ease, color 0.3s ease; /* Анімація при наведенні */
  font-size: 18px; /* Збільшений розмір шрифту */
}

/* Стилі при наведенні на пункт меню */
.about-us-nav a:hover {
  background-color: #1abc9c; /* Світлий фон при наведенні */
  color: #fff; /* Білий колір тексту при наведенні */
}

/* Стилі для бургер-меню */
.burger {
  display: none; /* Приховуємо бургер-меню за замовчуванням */
  position: relative;
  width: 30px; /* Ширина бургер-меню */
  height: 24px; /* Загальна висота бургер-меню */
  cursor: pointer;
  z-index: 1000; /* Забезпечує видимість поверх інших елементів */
  flex-direction: column; /* Вирівнюємо смужки одна під одною */
  justify-content: space-between; /* Відстань між смужками */
}

/* Стилі для активного стану бургер-меню */
.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #3498db; /* Яскравий блакитний колір для перетворень */
  transform: rotate(-45deg) translate(-50%, -50%);
}

.burger.active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #3498db; /* Яскравий блакитний колір для перетворень */
  transform: rotate(45deg) translate(-50%, 50%);
}

/* Анімація при відкритті меню */
.about-us-nav.open {
  transform: translateX(0); /* Висуваємо меню на екран */
}

/* Адаптивність для планшетів і мобільних пристроїв */
@media screen and (max-width: 1024px) {
  .burger {
    display: flex; /* Відображаємо бургер-меню на планшетах та мобільних пристроях */
  }

  .about-us-nav {
    display: none; /* Ховаємо навігацію за замовчуванням */
    flex-direction: column;
    position: fixed; /* Фіксоване позиціонування */
    top: 0;
    left: 0;
    z-index: 999; /* Під бургер-меню, але поверх іншого контенту */
    width: 100%;
    height: 100%;
    padding: 70px 20px;
    background-color: rgba(201, 223, 247, 0.392); /* Темний фон з невеликою прозорістю */
    transform: translateX(-100%); /* Ховаємо меню за межами екрану */
    transition: transform 0.4s ease;
    overflow-y: auto; /* Додаємо скролінг, якщо вміст перевищує висоту */
  }

  .about-us-nav.open {
    display: flex; /* Відображаємо навігацію при активації */
    transform: translateX(0); /* Висуваємо меню на екран */
  }

  .page-header .logo {
    display: none; /* Ховаємо логотип на планшетах та мобільних пристроях */
  }
}

/* Медіа-запити для десктопних пристроїв */
/* Медіа-запити для десктопних пристроїв */
@media screen and (min-width: 1440px) {
  .burger {
    display: none; /* Ховаємо бургер-меню на десктопних пристроях */
  }

  .about-us-nav {
    display: flex; /* Відображаємо навігацію на десктопних пристроях */
    position: static; /* Забираємо фіксоване позиціонування */
    transform: none; /* Вимикаємо будь-яке зміщення */
    background-color: transparent; /* Фон робимо прозорим */
    width: auto; /* Немає обмеження по ширині */
    height: auto; /* Автоматична висота */
    padding: 0; /* Забираємо зайві відступи */
  }

  .about-us-nav ul {
    display: flex; /* Вирівнюємо пункти меню в рядок */
    justify-content: space-between; /* Відстань між пунктами меню */
    align-items: center; /* Вирівнювання пунктів по центру вертикально */
    width: 100%; /* Ширина на весь контейнер */
  }

  .about-us-nav li {
    margin-bottom: 0; /* Видаляємо зайвий відступ між пунктами */
  }

  .about-us-nav a {
    background-color: transparent; /* Прибираємо фон у пунктів меню */
    color: #4a4a4a; /* Темний колір тексту для більшого контрасту */
    padding: 0 15px; /* Додаємо відступи по горизонталі */
    font-size: 16px; /* Робимо текст трохи меншим */
  }

  .about-us-nav a:hover {
    background-color: transparent; /* Прибираємо фон при наведенні */
    color: #3498db; /* Змінюємо колір тексту при наведенні */
  }
}
